@model IEnumerable<ParcialTienditaUmU.Models.Sells>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sellDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalToPay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sellDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalToPay)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.sellId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.sellId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.sellId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
